@tailwind base;
@tailwind components;
@tailwind utilities;

.crosswordMain {
	background-color: #000000;
	color: #ffffff;
	overflow: auto;
}

body {
	background-color: #ffffff;
	color: #000000;
	overflow: auto;
}

h1 {
	font-family: 'Newsreader', serif;
}

h3 {
	font-family: 'Neuton', serif;
}

p {
	font-family: 'Red Hat Text', sans-serif;
}



img {
	/* round */
	border-radius: 0.5rem;
}
p {
	text-align: justify;
	padding-right: 1rem;
	font-size: 1rem;
}
a:hover{
	text-decoration: underline;
}

/* Set the scrollbar width and color */
::-webkit-scrollbar {
	width: 5px;
	background-color: #0e0424;
    
}

/* Set the thumb color and make it rounded */
::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #292929;
    transition: all 0.2s ease-in-out;
}
/* Set the track color */
::-webkit-scrollbar-track {
	background-color: #d4d4d4;
}

/* For Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #000000 #d4d4d4;
}

*::-webkit-scrollbar-corner {
	background-color: #000000;
}
